In [224]:
import multiprocessing as mp
import pandas as pd
import numpy as np
import imdb

In [225]:
source_path = '/Users/austinbenny/Documents/python/movie_budget_ratings/IMDB_data/imdb_data_final.csv'
source_path_2='essential_imdb.csv'
target_path='smart_title.csv'

In [226]:
df=pd.read_csv(source_path_2)
df.replace([np.inf, -np.inf], np.nan)
df=df.dropna()
df.reset_index(drop=True, inplace=True)
type(df.loc[0,'imdb_id'])

str

In [227]:
df['imdb_id']=[df.loc[s,'imdb_id'].replace('tt','') for s in range(len(df))]
ia=imdb.IMDb()

In [228]:
ia.get_movie('0113041').keys()

['original title',
 'cast',
 'genres',
 'runtimes',
 'countries',
 'country codes',
 'language codes',
 'color info',
 'aspect ratio',
 'sound mix',
 'box office',
 'certificates',
 'original air date',
 'rating',
 'votes',
 'cover url',
 'plot outline',
 'languages',
 'title',
 'year',
 'kind',
 'directors',
 'writers',
 'producers',
 'composers',
 'cinematographers',
 'editors',
 'editorial department',
 'casting directors',
 'production designers',
 'art directors',
 'set decorators',
 'costume designers',
 'make up department',
 'production managers',
 'assistant directors',
 'art department',
 'sound department',
 'special effects',
 'visual effects',
 'stunts',
 'camera department',
 'casting department',
 'costume departmen',
 'location management',
 'music department',
 'script department',
 'transportation department',
 'miscellaneous',
 'akas',
 'writer',
 'director',
 'production companies',
 'distributors',
 'special effects companies',
 'other companies',
 'plot',
 'canonical title',
 'long imdb title',
 'long imdb canonical title',
 'smart canonical title',
 'smart long imdb canonical title',
 'full-size cover url']

In [229]:
# have df (50k) and df2
# find dupes in df2
# pull from df2 titles
# search df for it's imdb_id
# - take care of dupes
# - take care of invalid id
# get long title from imdb
# put into df 
# add df to final df (path)

In [230]:
# find dupes in df2
df2=pd.read_csv(source_path)

seen = {}
dupes = []
dupe_index=[]
for num,x in enumerate(a,0):
    if x not in seen:
        seen[x] = 1
    else:
        dupe_index.append(num)
        if seen[x] == 1:
            dupes.append(x)
        seen[x] += 1  
        
df2

,Unnamed: 0,title,Cumulative Worldwide Gross,Budget,Opening Weekend United States,rating,runtimes,votes,aspect ratio
0,0,Toy Story,373554033.0,30000000.0,12491789.0,8.3,81,841840.0,1.78
1,1,Jumanji,262797249.0,50000000.0,11084370.0,7.0,104,289356.0,1.85
2,2,Heat,120000000.0,60000000.0,8445656.0,8.2,170,546922.0,2.35
3,3,Ace Ventura: When Nature Calls,212385533.0,30000000.0,37804076.0,6.4,90,195070.0,2.39
4,4,Dangerous Minds,179519401.0,23000000.0,14931503.0,6.5,99,46347.0,1.85
...,...,...,...,...,...,...,...,...,...
2062,2062,The House,33281529.0,40000000.0,8724795.0,5.6,88,37917.0,2.35
2063,2063,The Dark Tower,113461527.0,60000000.0,19153698.0,5.6,95,119139.0,2.39
2064,2064,The Emoji Movie,217776646.0,50000000.0,24531923.0,3.2,86,52181.0,2.20
2065,2065,Wish Upon,14053908.0,16000000.0,5467084.0,5.0,90,16741.0,2.39:1
2066,2066,Girls Trip,140949423.0,19000000.0,31201920.0,6.2,122,32092.0,2.39

In [231]:
# proves that there are no real dupes in final_csv - all other col vals are unique
d=pd.DataFrame()
for dupe in dupes:
    idx_list=df2.loc[df2['title']==dupe].index.tolist()
    for idx in idx_list:
        d[str(idx)]=df2.loc[idx,:]

#d.T

In [232]:
# pull from df2
range(0,len(df2))

range(0, 2067)

In [233]:
dupes

['Night of the Living Dead',
 'Friday the 13th',
 'Halloween II',
 'Arthur',
 'The Avengers',
 'The Thing',
 'Total Recall',
 'Godzilla',
 'Hercules',
 'Fantastic Four',
 'Poltergeist',
 'Ghostbusters',
 'Passengers',
 'Beauty and the Beast',
 'Life',
 'The Mummy']

In [234]:
# take care of dupes
index=dupe_index[0]
final_title=df2.loc[index,'title']
print(final_title)
row=df.loc[df['title']==final_title].index.tolist() # finds the idx where the title from final_csv appears in big df
print(row)
count=0
if len(row)>1:
    for dupe_idx in row:
        print(dupe_idx)
        if int(ia.get_movie(df.loc[dupe_idx,'imdb_id'])['runtimes'][0]) == df2.loc[dupe_index[count],'runtimes']:
            try:
                print(ia.get_movie(df.loc[dupe_idx,'imdb_id'])['smart long imdb canonical title'])
            except:
                print('return N/A')
            count+=1
else:
    try:
        print(ia.get_movie(df.loc[row,'imdb_id'])['smart long imdb canonical title'])
    except:
        print('return N/A')

Night of the Living Dead
[941, 7663]
941
7663
Night of the Living Dead (1990)

In [235]:
# validate row - should match
print(df.loc[row[1],'title'])
print(df2.loc[dupe_index[0],'title'])

Night of the Living Dead
Night of the Living Dead

In [236]:
# search df for it's imdb_id
def get_title(index):
    
    title_setting='original title'
    final_title=df2.loc[index,'title']
    print(final_title)
    row=df.loc[df['title']==final_title].index.tolist()
    print(row)
    if len(row)>1:
        for dupe_idx in row:
            print(dupe_idx)
            if int(ia.get_movie(df.loc[dupe_idx,'imdb_id'])['runtimes'][0]) == df2.loc[index,'runtimes']:
                try:
                    return ia.get_movie(df.loc[dupe_idx,'imdb_id'])[title_setting]
                except:
                    return 'N/A'
                count+=1
    else:
        try:
            return ia.get_movie(df.loc[row,'imdb_id'])[title_setting]
        except:
            return 'N/A'

In [237]:
get_title(941)

The Dukes of Hazzard
[10256]

'The Dukes of Hazzard (2005)'

In [187]:
# validate
df2.loc[831,:]

Unnamed: 0                                            831
title                            Night of the Living Dead
Cumulative Worldwide Gross                         226705
Budget                                            4.2e+06
Opening Weekend United States                 2.88468e+06
rating                                                6.9
runtimes                                               92
votes                                               37227
aspect ratio                                         1.85
Name: 831, dtype: object

In [188]:
titles=list(map(get_title,range(0,10)))
titles

Toy Story
[0]
Jumanji
[1]
Heat
[5, 14681, 29028]
5
Ace Ventura: When Nature Calls
[18]
Dangerous Minds
[30]
Twelve Monkeys
[31]
Clueless
[38]
Mortal Kombat
[43]
Se7en
[46]
Pocahontas
[47]

['Toy Story (1995)',
 'Jumanji (1995)',
 'Heat (1995)',
 'Ace Ventura: When Nature Calls (1995)',
 'Dangerous Minds (1995)',
 '12 Monkeys (1995)',
 'Clueless (1995)',
 'Mortal Kombat (1995)',
 'Se7en (1995)',
 'Pocahontas (1995)']

In [238]:
pool = mp.Pool(processes=mp.cpu_count())
titles=pool.map(get_title, range(0,20))

df=pd.DataFrame({'smart title':titles})
#df.to_csv(target_path)

Toy Story
Heat
Clueless
Dangerous Minds
[30]
[5, 14681, 29028]
[0]
[38]
5
Twelve Monkeys
[31]
Mortal Kombat
[43]
Jumanji
[1]
Se7en
[46]
The Usual Suspects
[49]
Ace Ventura: When Nature Calls
[18]
Mr. Holland's Opus
[61]
Eye for an Eye
[60, 25743]
60
Mary Reilly
[90]
Pocahontas
[47]
From Dusk Till Dawn
[69]
Vampire in Brooklyn
[91]
Braveheart
[108]
The Birdcage
[139]
Bad Boys
[142, 8812, 9363, 29480]
142
Up Close & Personal
[138]

In [241]:
df

                              smart title
0                        Toy Story (1995)
1                          Jumanji (1995)
2                             Heat (1995)
3   Ace Ventura: When Nature Calls (1995)
4                  Dangerous Minds (1995)
5                       12 Monkeys (1995)
6                         Clueless (1995)
7                    Mortal Kombat (1995)
8                            Se7en (1995)
9                       Pocahontas (1995)
10              The Usual Suspects (1995)
11                  Eye for an Eye (1996)
12              Mr. Holland's Opus (1995)
13             From Dusk Till Dawn (1996)
14                     Mary Reilly (1996)
15             Vampire in Brooklyn (1995)
16                      Braveheart (1995)
17             Up Close & Personal (1996)
18                    The Birdcage (1996)
19                        Bad Boys (1995)

In [243]:
df2=df2.loc[0:19,:]
df2['title']=df
df2

,Unnamed: 0,title,Cumulative Worldwide Gross,Budget,Opening Weekend United States,rating,runtimes,votes,aspect ratio
0,0,Toy Story (1995),373554033.0,30000000.0,12491789.0,8.3,81,841840.0,1.78
1,1,Jumanji (1995),262797249.0,50000000.0,11084370.0,7.0,104,289356.0,1.85
2,2,Heat (1995),120000000.0,60000000.0,8445656.0,8.2,170,546922.0,2.35
3,3,Ace Ventura: When Nature Calls (1995),212385533.0,30000000.0,37804076.0,6.4,90,195070.0,2.39
4,4,Dangerous Minds (1995),179519401.0,23000000.0,14931503.0,6.5,99,46347.0,1.85
5,5,12 Monkeys (1995),168839459.0,29000001.0,14200000.0,8.0,129,556498.0,1.85
6,6,Clueless (1995),20700000.0,12000000.0,10612443.0,6.8,97,166410.0,1.85
7,7,Mortal Kombat (1995),122195920.0,18000000.0,23283887.0,5.8,101,97031.0,1.85
8,8,Se7en (1995),327311859.0,33000000.0,13949807.0,8.6,127,1359451.0,2.39
9,9,Pocahontas (1995),346079773.0,55000000.0,29531619.0,6.7,81,160965.0,1.66
10,10,The Usual Suspects (1995),34449356.0,6000000.0,645363.0,8.5,106,945005.0,2.39
11,11,Eye for an Eye (1996),53192700.0,20000000.0,6968044.0,6.2,101,12786.0,1.85
12,12,Mr. Holland's Opus (1995),106269971.0,23000000.0,92254.0,7.3,143,34384.0,2.39
13,13,From Dusk Till Dawn (1996),33500000.0,19000000.0,10240805.0,7.2,108,274681.0,1.85
14,14,Mary Reilly (1996),12272308.0,47000000.0,2812620.0,5.8,108,13609.0,1.85
15,15,Vampire in Brooklyn (1995),28051736.0,20000000.0,7045379.0,4.6,100,20688.0,1.85
16,16,Braveheart (1995),210409945.0,72000000.0,9938276.0,8.3,178,923412.0,2.39
17,17,Up Close & Personal (1996),100688705.0,60000000.0,187067.0,6.2,124,13067.0,1.85
18,18,The Birdcage (1996),185260553.0,31000000.0,166136.0,7.1,117,75956.0,1.85
19,19,Bad Boys (1995),141407024.0,19000000.0,15523358.0,6.9,119,226196.0,1.85

In [8]:
# check how many same name values are there
a=df2.loc[:,'title']

print(len(a),len(set(a)))

# get index of duplicate elements

2067 2051

In [14]:
df2.loc[dupe_index,:]

,Unnamed: 0,title,Cumulative Worldwide Gross,Budget,Opening Weekend United States,rating,runtimes,votes,aspect ratio
831,831,Night of the Living Dead,2.267050e+05,4200000.0,2884679.0,6.9,92,37227.0,1.85
1273,1273,Friday the 13th,9.137905e+07,19000000.0,43585449.0,5.5,97,92901.0,2.35
1320,1320,Halloween II,3.942147e+07,15000000.0,16349565.0,4.9,105,46564.0,1.85
1477,1477,Arthur,4.573540e+07,40000000.0,12222756.0,5.7,110,49829.0,1.85
1523,1523,The Avengers,1.517936e+09,220000000.0,207438708.0,8.0,143,1222092.0,1.78
1530,1530,The Thing,3.150529e+07,38000000.0,8493665.0,6.2,103,116776.0,2.39
1608,1608,Total Recall,1.984672e+08,125000000.0,25577758.0,6.3,118,234011.0,2.35
1789,1789,Godzilla,5.290761e+08,160000000.0,93188384.0,6.4,123,364491.0,2.39
1816,1816,Hercules,2.448199e+08,100000000.0,29000000.0,6.0,98,141081.0,2.35
1870,1870,Fantastic Four,1.679776e+08,120000000.0,25685737.0,4.3,100,144842.0,2.35
1886,1886,Poltergeist,9.543799e+07,35000000.0,22600000.0,4.9,93,53291.0,2.39
1971,1971,Ghostbusters,2.291475e+08,144000000.0,46018755.0,5.2,116,195858.0,1.43
2015,2015,Passengers,3.031442e+08,110000000.0,14869736.0,7.0,116,329279.0,2.39
2037,2037,Beauty and the Beast,1.263521e+09,160000000.0,174750616.0,7.1,129,255431.0,1.90
2044,2044,Life,7.030778e+07,58000000.0,12501936.0,6.6,104,194565.0,2.39
2051,2051,The Mummy,4.103333e+08,125000000.0,31688375.0,5.4,110,164667.0,16:9

In [11]:
movie='The Avengers'


index_movie=df2[df2['title']==movie].index.tolist()
index_movie

[292, 1523]

In [13]:
df2.loc[dupe_index[0],:]

Unnamed: 0                                            831
title                            Night of the Living Dead
Cumulative Worldwide Gross                         226705
Budget                                            4.2e+06
Opening Weekend United States                 2.88468e+06
rating                                                6.9
runtimes                                               92
votes                                               37227
aspect ratio                                         1.85
Name: 831, dtype: object

In [61]:
df2.loc[dupe_index[1],:]

Unnamed: 0                                  1273
title                            Friday the 13th
Cumulative Worldwide Gross           9.13791e+07
Budget                                   1.9e+07
Opening Weekend United States        4.35854e+07
rating                                       5.5
runtimes                                      97
votes                                      92901
aspect ratio                                2.35
Name: 1273, dtype: object

In [48]:
path='/Users/austinbenny/Documents/python/movie_budget_ratings/the-movies-dataset/movies_metadata.csv'
df=pd.read_csv(path)
check_index=df.loc[df['imdb_id']=='tt0111613'].index.tolist()
print(check_index)
print(df.loc[check_index[0],:],df.loc[check_index[1],:])

45463 45417
[676, 1465]
adult                                                                False
belongs_to_collection                                                  NaN
budget                                                                   0
genres                   [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
homepage                                                               NaN
id                                                                  105045
imdb_id                                                          tt0111613
original_language                                                       de
original_title                                             Das Versprechen
overview                 East-Berlin, 1961, shortly after the erection ...
popularity                                                        0.122178
poster_path                               /5WFIrBhOOgc0jGmoLxMZwWqCctO.jpg
production_companies     [{'name': 'Studio Babelsberg', 'id': 264}, {'n...
production_countries             [{'iso_3166_1': 'DE', 'name': 'Germany'}]
release_date                                                       2/16/95
revenue                                                                  0
runtime                                                                115
spoken_languages                  [{'iso_639_1': 'de', 'name': 'Deutsch'}]
status                                                            Released
tagline                                            A love, a hope, a wall.
title                                                          The Promise
video                                                                False
vote_average                                                             5
vote_count                                                               1
Name: 676, dtype: object adult                                                                False
belongs_to_collection                                                  NaN
budget                                                                   0
genres                   [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
homepage                                                               NaN
id                                                                  105045
imdb_id                                                          tt0111613
original_language                                                       de
original_title                                             Das Versprechen
overview                 East-Berlin, 1961, shortly after the erection ...
popularity                                                        0.122178
poster_path                               /5WFIrBhOOgc0jGmoLxMZwWqCctO.jpg
production_companies     [{'name': 'Studio Babelsberg', 'id': 264}, {'n...
production_countries             [{'iso_3166_1': 'DE', 'name': 'Germany'}]
release_date                                                       2/16/95
revenue                                                                  0
runtime                                                                115
spoken_languages                  [{'iso_639_1': 'de', 'name': 'Deutsch'}]
status                                                            Released
tagline                                            A love, a hope, a wall.
title                                                          The Promise
video                                                                False
vote_average                                                             5
vote_count                                                               1
Name: 1465, dtype: object